{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel = "apple-touch-icon" type = "image/png" href = "/icon.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
	<script src="{% static 'js/script.js' %}"></script>
</head>
<title>Insder</title>

{% block content %}
{% endblock %}

		<div class = "text-center">
		<div class = "p-5 bg-white">
			<h2>Connect With Us</h2>
			<a href = "#" class = "pr-3"><i class="fa fa-facebook"></i></a>
			<a href = "#" class = "pr-3"><i class="fa fa-twitter"></i></a>
			<a href = "#" class = "pr-3"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</div>

