{% load static %}
<html>
<head>
</head>
	<link rel = "icon" type = "image/ico" href = "{% static '../website/static/images/title.png' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src = "{% static 'js/script.js' %}"></script>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
<title>{% block title %}Insder{% endblock %}</title>
</head>
<body id = "white">





<nav class="navbar-color navbar  navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <a class="navbar-brand" href="/home/"><div class = "titleName">Insder</div></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-5">
      <li class="nav-item active">
        <a class="nav-link" href="/home/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/follower/">Follower</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/following/">Following</a>
      </li>
         <li class="nav-item active mt-1">
        <a class="nav-link fa fa-bell" href="/notification/"></a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <div class="navbar-icon btn dropdown-toggle fa fa-cog" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="dropdown-menu" aria-labelledby="profile-dropdown">
            <button onclick = "location.href = '/profile/'" class="dropdown-item" type="button">Profile</button>
            <button onclick = "location.href = '/logout/'" class="dropdown-item" type="submit">Log Out</button>
          </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 float-right" method = "GET" action = "/search/">
      <input class="form-control mr-sm-2" type="search" name = "search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


{% block content %}
{% endblock %}
    <div class = "text-center mt-5">
    <div class = "p-5 bg-white">
      <h2>Connect With Us</h2>
     <a href = "#" class = "pr-3"><i class="fa fa-facebook"></i></a>
      <a href = "#" class = "pr-3"><i class="fa fa-twitter"></i></a>
      <a href = "#" class = "pr-3"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
